<table>
  <% quizes.forEach(
  function ( quiz )
  {
  %>
  <tr>
    <td>
      <a href="quizes/<%= quiz.id %>">
        <%= quiz.pregunta %>
      </a>
    </td>
    <td>
      <a href="quizes/<%= quiz.id %>/edit">
        <button>editar</button>
      </a>
    </td>
    <td>
      <form method="post" action="/quizes/<%= quiz.id %>?_method=delete">
        <button type="submit" onclick="return confirm( 'Borrar: <%= quiz.pregunta %>' );">
          borrar
        </button>
      </form>
    </td>
  </tr>
  <%
  }
  ); %>
</table>
<p>
  <a href="/quizes/new">
    <button type="button">Crear pregunta</button>
  </a>
</p></table>

<div>Buscar preguntas:</div>

<form method="get" action="/quizes">
  <label for="search" class="rem">Texto a buscar:</label>
  <input type="text" id="search" name="search" value="" placeholder="Texto a buscar" />
  <input type="submit" value="Enviar" />
</form>
