<h3>Número de preguntas: <%= totalQuizzes %></h3>
<h3>Número de comentarios totales: <%= totalComments %></h3>
<h3>Número medio de comentarios por pregunta: <%= averageComments.toFixed( 2 ) %></h3>
<h3>Número de preguntas sin comentarios: <%= quizzesWithComments %></h3>
<h3>Número de preguntas con comentarios: <%= quizzesWithoutComments %></h3>